.contact-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

.contact-img {
  max-width: 8vh;
  height: auto;
  margin-right: 10px;
}

.contact-img:hover {
    transform: scale(1.1);
  
}

.contact-link {
  /* display: flex; */
  margin-top: -2vh;
}

#contact {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.contact-p {
  color: #444;
  /* margin-top: 1vh; */
  margin-left: 1vh;
  margin-right: 1vh;
  font-size: 20px;
  text-align: center;
}

