body, html {
  margin: 0;
  font-family: 'Robot', sans-serif;
  background-color: #F9F9F9;
  overflow-x: hidden;
}

.row {
  margin:0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');